.kar {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 100%;

  background-image: url("../img/kar.png");
  background-repeat: no-repeat;
  background-size: 100%;


  // margin-top: 310px;

  min-height: 1265px;
}

.kar__header {
  position: relative;
  padding-top: 40px;
  width: 75%;

  text-align: center;
}

.kar__header h1 {
  margin: 0;
  padding: 0;

  font-size: 46.84px;
  line-height: 45.33px;
  color: #fff9f6;

  text-shadow:
    -0   -7px 0   #7f0b01,
    0   -7px 0   #7f0b01,
    -0    7px 0   #7f0b01,
    0    7px 0   #7f0b01,
    -7px -0   0   #7f0b01,
    7px -0   0   #7f0b01,
    -7px  0   0   #7f0b01,
    7px  0   0   #7f0b01,
    -1px -7px 0   #7f0b01,
    1px -7px 0   #7f0b01,
    -1px  7px 0   #7f0b01,
    1px  7px 0   #7f0b01,
    -7px -1px 0   #7f0b01,
    7px -1px 0   #7f0b01,
    -7px  1px 0   #7f0b01,
    7px  1px 0   #7f0b01,
    -2px -7px 0   #7f0b01,
    2px -7px 0   #7f0b01,
    -2px  7px 0   #7f0b01,
    2px  7px 0   #7f0b01,
    -7px -2px 0   #7f0b01,
    7px -2px 0   #7f0b01,
    -7px  2px 0   #7f0b01,
    7px  2px 0   #7f0b01,
    -3px -7px 0   #7f0b01,
    3px -7px 0   #7f0b01,
    -3px  7px 0   #7f0b01,
    3px  7px 0   #7f0b01,
    -7px -3px 0   #7f0b01,
    7px -3px 0   #7f0b01,
    -7px  3px 0   #7f0b01,
    7px  3px 0   #7f0b01,
    -4px -7px 0   #7f0b01,
    4px -7px 0   #7f0b01,
    -4px  7px 0   #7f0b01,
    4px  7px 0   #7f0b01,
    -7px -4px 0   #7f0b01,
    7px -4px 0   #7f0b01,
    -7px  4px 0   #7f0b01,
    7px  4px 0   #7f0b01,
    -5px -7px 0   #7f0b01,
    5px -7px 0   #7f0b01,
    -5px  7px 0   #7f0b01,
    5px  7px 0   #7f0b01,
    -7px -5px 0   #7f0b01,
    7px -5px 0   #7f0b01,
    -7px  5px 0   #7f0b01,
    7px  5px 0   #7f0b01,
    -6px -7px 0   #7f0b01,
    6px -7px 0   #7f0b01,
    -6px  7px 0   #7f0b01,
    6px  7px 0   #7f0b01,
    -7px -6px 0   #7f0b01,
    7px -6px 0   #7f0b01,
    -7px  6px 0   #7f0b01,
    7px  6px 0   #7f0b01,
    -7px -7px 0   #7f0b01,
    7px -7px 0   #7f0b01,
    -7px  7px 0   #7f0b01,
    7px  7px 0   #7f0b01,
    -7px -7px 0   #7f0b01,
    7px -7px 0   #7f0b01,
    -7px  7px 0   #7f0b01,
    7px  7px 0   #7f0b01;
}

.kar__header button {
  position: absolute;

  width: 80px;
  height: 80px;

  top: 30px;
  right: 0;

  border: none;
  background-color: transparent;
  background-image: url("../img/close-button.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

.kar__wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 260px;
  width: 95%;
}

.kar__left {
  display: flex;
  flex-direction: column;
  padding-left: 11.5%;
  width: 60%;
}

.kar__left p {
  margin: 0;
  margin-bottom: 16px;
  padding: 0;
  padding-right: 5%;
  padding-left: 5%;

  font-size: 23.42px;
  line-height: 1.28em;
  text-align: center;
}

.kar__left p:last-of-type {
  margin-top: 6px;
  margin-bottom: 3px;
  padding-right: 15%;
  padding-left: 15%;
  line-height: 1.25em;

  font-size: 16.47px;
}
