.presents {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;

  list-style: none;
}

.presents .presents__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-right: 20px;
  padding-top: 35px;
  min-width: 10px;

  min-height: 245px;
}

.presents .presents__item--big {
  padding-top: 0;
}

.presents .presents__item--middle {
  padding-top: 26px;
  margin-right: 15px;
}


.presents__item img {
  width: 100%;
}

.presents__button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -7px;
  margin-left: auto;
  margin-right: auto;

  width: 112px;
  height: 74px;

  font-family: "Marvin Round", "Arial", sans-serif;
  font-size: 27.81px;
  line-height: 5.01px;
  color: #ffffff;

  border: none;
  background-color: transparent;
  background-image: url("../img/button-pinc.png");
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/button-pinc@2x.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  text-shadow:
    -0   -3px 0   #aa1349,
    0   -3px 0   #aa1349,
    -0    3px 0   #aa1349,
    0    3px 0   #aa1349,
    -3px -0   0   #aa1349,
    3px -0   0   #aa1349,
    -3px  0   0   #aa1349,
    3px  0   0   #aa1349,
    -1px -3px 0   #aa1349,
    1px -3px 0   #aa1349,
    -1px  3px 0   #aa1349,
    1px  3px 0   #aa1349,
    -3px -1px 0   #aa1349,
    3px -1px 0   #aa1349,
    -3px  1px 0   #aa1349,
    3px  1px 0   #aa1349,
    -2px -3px 0   #aa1349,
    2px -3px 0   #aa1349,
    -2px  3px 0   #aa1349,
    2px  3px 0   #aa1349,
    -3px -2px 0   #aa1349,
    3px -2px 0   #aa1349,
    -3px  2px 0   #aa1349,
    3px  2px 0   #aa1349,
    -3px -3px 0   #aa1349,
    3px -3px 0   #aa1349,
    -3px  3px 0   #aa1349,
    3px  3px 0   #aa1349,
    -3px -3px 0   #aa1349,
    3px -3px 0   #aa1349,
    -3px  3px 0   #aa1349,
    3px  3px 0   #aa1349;

  transition: all 0.3s ease;

  &::after {
    content: "";

    width: 33px;
    height: 33px;

    background-image: url("../img/token.png");
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/token@2x.png");
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  &:hover,
  &:focus {
    background-image: url("../img/button-pinc-hover.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/button-pinc-hover@2x.png");
    }
  }
}

.presents__button span {
  margin-right: 5px;
}

.presents__item--middle .presents__button {
  margin-top: -21px;
}

.presents__item--big .presents__button {
  margin-top: -16px;
}
