.tokens {
  display: flex;
  padding: 0;
  padding-top: 15px;
  padding-left: 5px;
  margin: 0;

  list-style: none;
}

.tokens__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
  padding-top: 23px;
  padding-bottom: 27px;

  width: 130px;
}

.tokens__item--status {
  margin-right: 20px;
  padding-top: 40px;
}

.tokens__item .tokens__count {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 7px;
  font-size: 32.36px;
  line-height: 8.64px;
  color: #286d4e;
  min-width: 100px;

  &::after {
    content: "";
    // position: absolute;
    width: 33px;
    height: 33px;

    background-image: url("../img/token.png");
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/token@2x.png");
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}

.tokens__item--status p {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 13px;
  padding: 0;
  padding-left: 15px;

  font-size: 21.96px;
  line-height: 8.33px;
  color: #10507c;
}

.tokens__item--status .tokens__count {
  margin-top: 14px;

  font-size: 25.62px;
  line-height: 8.33px;
  color: #10507c;

  &::after {
    margin-left: 5px;
  }
}

.tokens__button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 117px;
  min-height: 55px;

  font-family: "Marvin Round", "Arial", sans-serif;
  font-size: 19.06px;
  line-height: 7.91px;
  color: #ffffff;

  background-color: transparent;
  background-image: url("../img/button-blue.png");
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/button-blue@2X.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  border: none;

  text-shadow:
    -0   -3px 0   #1367dc,
    0   -3px 0   #1367dc,
    -0    3px 0   #1367dc,
    0    3px 0   #1367dc,
    -3px -0   0   #1367dc,
    3px -0   0   #1367dc,
    -3px  0   0   #1367dc,
    3px  0   0   #1367dc,
    -1px -3px 0   #1367dc,
    1px -3px 0   #1367dc,
    -1px  3px 0   #1367dc,
    1px  3px 0   #1367dc,
    -3px -1px 0   #1367dc,
    3px -1px 0   #1367dc,
    -3px  1px 0   #1367dc,
    3px  1px 0   #1367dc,
    -2px -3px 0   #1367dc,
    2px -3px 0   #1367dc,
    -2px  3px 0   #1367dc,
    2px  3px 0   #1367dc,
    -3px -2px 0   #1367dc,
    3px -2px 0   #1367dc,
    -3px  2px 0   #1367dc,
    3px  2px 0   #1367dc,
    -3px -3px 0   #1367dc,
    3px -3px 0   #1367dc,
    -3px  3px 0   #1367dc,
    3px  3px 0   #1367dc,
    -3px -3px 0   #1367dc,
    3px -3px 0   #1367dc,
    -3px  3px 0   #1367dc,
    3px  3px 0   #1367dc;

  transition: all 0.3s ease;

  & span {
    margin-left: 8px;
  }

  &:hover,
  &:focus {
    background-image: url("../img/button-blue-hover.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/button-blue-hover@2x.png");
    }
  }
}
